
<html>
  <div class="col-md-12">
    <h1 class="center">Welcome to Bloc Chat </h1>
  </div>
  <button type="button" class="btn btn-primary" ng-click="home.openModal()">New Room</button>
  <div class="row">
    <div class="col-md-3">
      <h4>Available Rooms</h4>
      <div class="rooms" ng-repeat="room in home.chatRooms" ng-model="msgId">
        <button type="button" class="btn btn-info" ng-click="home.activeRoom(room.$id, room.$value)"> {{ room.$value }} </button>
      </div>
    </div>
    <div class="col-md-9">
      <div ng-show="home.currentRoom !== undefined" class="alert alert-info center" role="alert">
        <h4>{{ home.currentRoom }}</h4>
      </div>
      <ul ng-repeat="message in home.messages">
          <li> {{ message.content }}  </li>
          <li>  <strong> {{ message.userName }} </strong>  <i>at</i> {{ message.sentAt | date:'h' }}:{{ message.sentAt | date:'m' }}  {{ message.sentAt | date:'a' }}</li>
      </ul>
      <form ng-show="home.currentRoom !== undefined" ng-submit="home.createNewMessage(newmsg, home.roomId,home.userName, home.sortedTime)">
        <input type="text" class="form-control" ng-model="newmsg" name="text" />
      </form>
      <br />
      <button type="button" class="btn btn-success" ng-click="home.createNewMessage(newmsg, home.roomId, home.userName, home.sortedTime)" ng-show="home.currentRoom !== undefined"> Send </button>
    </div>
  </div>
</html>
